KEY = "<GOOGLE API KEY>"
dbpassword = "<ROOT DB PASSWD>"

#ssh tunnel command
#ssh -N -L 3306:127.0.0.1:3306 -p 2222 -i ../vagrant/.vagrant/machines/default/virtualbox/private_key vagrant@127.0.0.1 &
